body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
a{
    cursor: pointer;
}
.container{
    text-align: center;
    max-width: 1230px;
    padding: 0 15px;
    position: relative;
    margin: 25px auto 0;
}
.map path{
    transition: .3s all;
}
.circle{
    transition: .3s all;
}
.link{
    position: relative;
    font-weight: 500;
}
.box-name{
    position: absolute;
    padding: 10px 15px ;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: -1;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
}

.box-name--circle{
    position: absolute;
    padding: 10px 15px ;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: -1;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
}
.box-name.active{
    opacity: 1;
    z-index: 20;
}

.box-name--circle.active{
    opacity: 1;
    z-index: 20;
}
.box-name__inner{
    width: 100%;
    height: 100%;
}
.box-name__text{
    font-style: normal;
    font-weight: bold;
    font-size: 9.77543px;
    line-height: 100%;
    letter-spacing: 1.22193px;
    text-transform: uppercase;
    color: #54C4EA;
}

.box-name__text--circle{
    font-style: normal;
    font-weight: bold;
    font-size: 9.77543px;
    line-height: 100%;
    letter-spacing: 1.22193px;
    text-transform: uppercase;
    color: #54C4EA;
}

.box-name__image{
    position: absolute;
    left: 13px;
    bottom: -8px;
}

.box-name__image--circle{
    position: absolute;
    left: 38px;
    bottom: -8px;
}

 /* svg path:hover { */
    /* transform: translate(-1px,-1px); */
    /* filter: url(#dropShadow); */
    /* transition: transform .1s; */
    /* fill: #54C4EA; */
  /* }  */
